soa/soap/shieldpay-soap-service/fraud_service.wsdl

<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="spyne.shieldpay.soap" targetNamespace="spyne.shieldpay.soap" name="Application">
<wsdl:types>
<xs:schema targetNamespace="spyne.shieldpay.soap" elementFormDefault="qualified">
<xs:complexType name="check_fraud">
<xs:sequence>
<xs:element name="amount" type="xs:integer" minOccurs="0" nillable="true"/>
<xs:element name="risk_score" type="xs:integer" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="check_fraudResponse">
<xs:sequence>
<xs:element name="check_fraudResult" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:element name="check_fraud" type="tns:check_fraud"/>
<xs:element name="check_fraudResponse" type="tns:check_fraudResponse"/>
</xs:schema>
</wsdl:types>
<wsdl:message name="check_fraud">
<wsdl:part name="check_fraud" element="tns:check_fraud"/>
</wsdl:message>
<wsdl:message name="check_fraudResponse">
<wsdl:part name="check_fraudResponse" element="tns:check_fraudResponse"/>
</wsdl:message>
<wsdl:service name="FraudSoapService">
<wsdl:port name="Application" binding="tns:Application">
<wsdlsoap11:address location="http://127.0.0.1:8000/"/>
</wsdl:port>
</wsdl:service>
<wsdl:portType name="Application">
<wsdl:operation name="check_fraud" parameterOrder="check_fraud">
<wsdl:input name="check_fraud" message="tns:check_fraud"/>
<wsdl:output name="check_fraudResponse" message="tns:check_fraudResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Application" type="tns:Application">
<wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="check_fraud">
<wsdlsoap11:operation soapAction="check_fraud" style="document"/>
<wsdl:input name="check_fraud">
<wsdlsoap11:body use="literal"/>
</wsdl:input>
<wsdl:output name="check_fraudResponse">
<wsdlsoap11:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
</wsdl:definitions>